{% load webdesign %}
{% load generic_flatblocks %}

{% comment %}
    Let's create an flatblock with a "as" argument. We publish this
    block at the end of this page in a variable called FOOTER
{% endcomment %}

{% gblock "footer" for "gblocks.TitleAndText" as "FOOTER" %}   

<html>
<head>
    <title>My shiny example project</title>
    <style type="text/css">
    body{font-family: sans-serif; color: #444;}
    #outline{width: 400px; margin: 30px auto;}
    </style>
</head>
</body>
<div id="outline">
    {% gblock "website","title",LANGUAGE_CODE for "gblocks.Title" %}
    {% gblock "website_teaser" for "gblocks.Text" %} 
    {% gblock "website_urgent_notice" for "gblocks.Text" with "urgent.html" %}
    <hr/>
    {{ FOOTER }}
</div>
</body>
</html>
